@model PersonManagement.Models.Person

@{
    ViewData["Title"] = "Create Person";
}

<h3>@ViewData["Title"]</h3>
<hr/>
<form action="Create" method="post">
    <div class="mb-3">
        <label class="form-label">First Name: </label>
        <input type="text" class="form-control" asp-for="FirstName" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Last Name: </label>
        <input type="text" class="form-control" asp-for="LastName" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Date of Birth: </label>
        <input type="date" class="form-control" asp-for="DOB">
        <span asp-validation-for="DOB" class="text-danger"></span>
    </div>
    @*<div id="age" class="mb-3">
        <label class="form-label">Age: </label>
        <input type="text" class="form-control" id="age" readonly />
        <span r-calc="calculateAge(birth_date)"></span>
    </div>*@
    <div class="mb-3">
        <label class="form-label">Address: </label>
        <input type="text" class="form-control" asp-for="Address" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Email: </label>
        <input type="text" class="form-control" asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="d-grid">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

@*@section scripts {
    <script>
        function calculateAge(date) {
            const now = new Date();
            const birthDate = new Date(date);
            const diff = Math.abs(now - birthDate);
            const age = Math.floor(diff / (1000 * 60 * 60 * 24 * 365));
            return age;
        }

        document.getElementById("DOB").addEventListener("change", function () {
            const dobInput = this.value;
            const ageSpan = document.getElementById("age");

            if (dobInput) {
                const age = calculateAge(dobInput);
                ageSpan.innerText = "Age : "+ age;
            } else {
                ageSpan.innerText = "";
            }
        });
    </script>
}*@


